<h2 class="content-subhead">Table of Contents</h2>

<div class="pure-menu">
  <ul class="pure-menu-list">
    <% @book.chapters.each do |chapter| %>
    <li class="pure-menu-item">
      <a href="/chapters/<%= chapter.number %>" class="pure-menu-link">
        <%= chapter.title %>
      </a>
    </li>
    <% end %>
  </ul>
</div>
