body {
  background: #eee;
}

section {
  background: #fff;
  max-width: 1200px;
  margin: 0 auto;
  /*overflow: hidden;*/
}
section:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}

article {
  background: yellow;
}
#aside-left {
  background: green;
  float: left;
  width: 15%;
}
#aside-right {
  background: green;
  float: right;
  width: 15%;
}

footer {
  background: #ccc;
}
