@import url('reset.css');
@import url('https://fonts.googleapis.com/css?family=Nunito');

body {
  background-color: #fff;
  color: #45494d;
  font-size: 20px;
  font-family: 'Nunito', sans-serif;
  text-align: center;
}

/* Header with logo and nav bar */

header {
  background: #2f2840 url("images/bg_body.gif") 50% 0 repeat;
  color: #cacaca;
  height: 510px;
}

h1 {
  padding-top: 75px;
  padding-bottom: 96px;
}

nav li {
  display: inline;
  padding: 0 46px;
}

nav a {
  font-size: 24px;
  text-decoration: none;
  text-transform: uppercase;
}
nav a:hover,
nav a.active {
  color: #6db9ff;
}
nav a.active {
  font-weight: bold;
}

/* Main */

main {
  padding-top: 100px;
}

section {
  width: 1000px;
  padding-bottom: 100px;
  margin: 0 auto;
}

section p {
  padding: 0 100px;
}

h2,
h3 {
  font-weight: bold;
}

h2 {
  font-size: 36px;
  padding-bottom: 40px;
}
h2::before,
h2::after {
  content: "·";
  padding: 0 20px;
}

h3 {
  color: #3e59b2;
  font-size: 26px;
  padding-bottom: 20px;
}

figure {
  padding-bottom: 50px;
}

ul.team {
  padding-top: 60px;
}
ul.team li {
  display: inline-block;
  width: 140px;
  margin: 25px;
}
ul.team img {
  margin-bottom: 20px;
}

a {
  color: #3e59b2;
  text-decoration: none;
}

/* Footer with Social Media links */

footer {
  background: #e7e7e7;
  color: #b2b2b2;
  padding: 80px 0;
}

footer p {
  margin-bottom: 40px;
}

footer li {
  display: inline-block;
  padding: 0 62px;
}

footer a {
  display: block;
  width: 46px;
  height: 46px;
  background: transparent url("images/icons_social-media.png") 0 0 no-repeat;
  /* Hide link text */
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

footer a.facebook {
  background-position: 0 -46px;
}
footer a.email {
  background-position: 0 -92px;
}
footer a.instagram {
  background-position: 0 -138px;
}
