@import url('reset.css');
@import url('https://fonts.googleapis.com/css?family=Nunito');

body {
  font-size: 20px;
  font-family: 'Nunito', sans-serif;
  color: #45494d;
  text-align: center;
}

li {
  display: inline-block;
}

/* Header with logo and nav bar */

header {
  background: #2f2840 url("images/bg_body.gif") 50% 0 repeat;
  height: 510px;
}

h1 {
  padding-top: 75px;
  padding-bottom: 96px;
}

nav li {
  display: inline;
  padding: 0 46px;
}

nav a {
  color: #cacaca;
  font-size: 24px;
  text-decoration: none;
  text-transform: uppercase;
}
nav a:hover,
nav a.active {
  color: #6db9ff;
}
nav a.active {
  font-weight: bold;
}

/* Footer with Social Media links */

footer {
  background: #e7e7e7;
  color: #b2b2b2;
  height: 286px;
  padding: 40px 400px 0 400px;
}

footer li {
  display: inline-block;
  margin-right: 124px;
}
footer li:last-child {
  margin-right: 0;
}

footer div {
  width: 46px;
  height: 46px;
  background: transparent url("images/icons_social-media.png") 0 0 no-repeat;
}

footer div.facebook {
  background-position: 0 -46px;
}
footer div.email {
  background-position: 0 -92px;
}
footer div.instagram {
  background-position: 0 -138px;
}

/* Main */

main {
  padding: 0 300px 80px 300px;
}

section {
  margin-bottom: 80px;
}

h2,
h3 {
  font-weight: bold;
}

h2 {
  font-size: 36px;
  margin-top: 96px;
  margin-bottom: 34px;
}

h2::before,
h2::after {
  content: "·";
  padding: 0 20px;
}

h3 {
  color: #3e59b2;
  font-size: 26px;
  margin-bottom: 20px;
}

main li {
  width: 140px;
  margin-right: 60px;
}
main li:last-child {
  margin-right: 0;
}
