@import url('reset.css');

/* Typographic stuff */

p {
  line-height: 1.4em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

acronym {
  font-feature-settings: "c2sc" 1;
}

/* Images */

img {
  max-width: 100%;
}

/* Form styling */

input[type="text"] {
  padding: .4em;
}
