/* CSS RESET */

/*
  http://meyerweb.com/eric/tools/css/reset/
  2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* BORDER BOXES */

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* PAGE WIDE SETTINGS */

body {
  background-color: #fbfbfb;

  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%;
  line-height: 27px;
  color: #595959;
}

section {
  display: inline-block;
  vertical-align: top;
  width: 800px;
  margin: 20px 40px;
}

aside {
  display: inline-block;
  vertical-align: top;
  width: 360px;
  height: 100%;
  margin: 0;
  background: #50576a;
  padding: 60px 40px;
}

/* ELEMENTS */

h1, h2, h3 {
  color: ‎#414141;
  font-size: 20px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 40px;
}
h1 {
  color: orange;
}
h2 {
  color: black;
}

ul {
  list-style-type: circle;
  margin: 4px auto 4px 40px;
}

li.up {
  content: "&uarr;";
  padding-right: 5px;
}
li.down {
  content: "&darr;";
  padding-right: 5px;
}

div.toc {
  color: #ccc;
  margin: 10px 0;
}

a.toc {
  color: #f9f9f9;
  font-size: 16px;
}

/* SPECIFICS */

#title {
  color: #f9f9f9;
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 40px;
}

#intro {
  color: #eee;
  font-size: 12pt;
  text-align: justify;
}

.code {
  font-family: "Source Code Pro", Inconsolata, "Lucida Console", Terminal, "Courier New", Courier;
  background: #eaeaed;
}

.highlight {
  background-color: #f8f62d;
}
